async-timeout
blinker
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
python-dotenv
redis
requests
scikit-learn
scipy
six
spotipy
threadpoolctl
urllib3
Werkzeug
gunicorn
